<html>
<head>
    <% include ./partial/head %>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
    <% include ../view/partial/header  %>
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content" style="min-height: 648px;">
            <section class="panel">
                <header class="panel-heading">
                    IMG
                </header>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <span class="center-block"><img src=""></span>
                            <p>Nupur first began tutoring when she was in highschool. She was a part of the Big Brothers and Big Sisters program, where she first discovered her passion for teaching, tutoring, and mentoring. Later, she was a private mathematics tutor for local students throughout the remainder of high school and a SAT teacher and tutor during her time as an undergraduate student at UC Berkeley.</p><br>
                            <p>During college, she also began volunteering at a local children's hospital and volunteered at an underserved medical clinic this past year while working towards her Master's degree at Georgetown University. Through these experiences, she has realized her passion for service, public health, and medicine.</p>
                            <p>Nupur first began tutoring when she was in highschool. She was a part of the Big Brothers and Big Sisters program, where she first discovered her passion for teaching, tutoring, and mentoring. Later, she was a private mathematics tutor for local students throughout the remainder of high school and a SAT teacher and tutor during her time as an undergraduate student at UC Berkeley.During college, she also began volunteering at a local children's hospital and volunteered at an underserved medical clinic this past year while working towards her Master's degree at Georgetown University. Through these experiences, she has realized her passion for service, public health, and medicine.</p>>
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div>
    </div>
<% include ../view/partial/footer %>
</body>
</html>