<html>
<head>
    <% include ./partial/head %>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
 	<% include ../view/partial/header  %>
    	<div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content" style="min-height: 648px;">
	 		<section class="panel">
        		<header class="panel-heading">
              		IMG
        		</header>
        		<div class="panel-body">
            		<div class="row form-group">
                		<div class="col-md-6">
							<p>At edUcate, we believe that every patient, regardless of their illness or condition, has the right to access and thrive in a quality education. However, it is often the case that patients that have to spend time in and out of the hospital or medical treatment fall behind in school and have an increased risk of academic failure. On top of expensive medical bills, hiring and paying for a tutor to help manage a patient's academics isn't always an option for many families.</p><br>
							<p> That is where we come in. At edUcate, we hope to mitigate the risk of academic failure by bringing the educational environment to the patient in the form of tutors and teachers. We hope to put the "you" in educate by catering to every patient's specific academic and medical needs and ensuring that they have the tools to not only keep up in school but achieve their goals and excel. We believe that this not only helps patients eventually transition back into school better but also provides a positive environment and sense of normalcy to patients during their medical treatment. Ultimately, we hope to help more school- age patients on their road to recovery by providing free tutoring services and allowing patients and their families to focus on their health and recovery.</p>
                		</div>
            		</div>
        		</div>
     		</section>
        	</div>
    	</div>
	</div>
<% include ../view/partial/footer %>
</body>
</html>