<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-center">
                <li><a href='#'>The Mission</a></li>
                <li><a href='/about-us'>About Us</a></li>
                <li><a href='/porgrams'>Programs</a></li>
                <li><a href='/volunteer'>Volunteer</a></li>
                <li><a href='/give-1'>Give</a></li>
                <li><a href='/contact-us'>Contact Us</a></li>
            </ul>
        </div>
    </nav>
</header>