<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="IRT-Tools">
<meta name="keyword" content="IRT Admin Tool">
<link rel="shortcut icon" href="img/favicon.png">
    
<title>IRT Admin Tool</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/core.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
    <link href=" //theme.axs.com/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href=" //theme.axs.com/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href=" //theme.axs.com/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href=" //theme.axs.com/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href=" //theme.axs.com/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css">
    <link href=" //theme.axs.com/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css">
    <link href=" //theme.axs.com/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css">
    <link href=" //theme.axs.com/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href=" //theme.axs.com/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css">
    <link href=" //theme.axs.com/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css">
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href=" //theme.axs.com/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href=" //theme.axs.com/assets/layouts/layout/css/themes/axs-theme.min.css" rel="stylesheet" type="text/css" id="style_color">
    <link href=" //theme.axs.com/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css">
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico">
    	<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>


<% if(typeof additionalJsFiles !== 'undefined' && typeof additionalJsFiles == 'object' && additionalJsFiles.length > 0) { %>
    <% additionalJsFiles.forEach(function(jsFile) { %>
        <script src="<%= jsFile %>"></script>
    <% }); %>
<% } %>